<div id="queryPrezziModal" class="modal" style="display:none; position:fixed; top:0; left:0; width:100vw; height:100vh; background:rgba(0,0,0,0.45); z-index:2000;">
  <div style="background:white; margin:5vh auto; padding:2em; max-width:600px; border-radius:16px; position:relative;">
    <h4>Article price query</h4>
    <div id="queryPrezziModalHeader"></div>
    <table class="table mt-3">
      <thead>
        <tr>
          <th>ID</th>
          <th>Price</th>
          <th>Eff</th>
          <th>Seq</th>
          <th>Level</th>
        </tr>
      </thead>
      <tbody id="queryPrezziTable"></tbody>
    </table>
    <button id="closeQueryModal" class="btn btn-secondary mt-2" style="float:right;">Close</button>
  </div>
</div>